* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
}

body {
	background: #f8f9fa;
}

.container {
	margin: 20px;
}

@media only screen and (max-width: 769px) {
	.container {
		margin: 0;
	}
}

.vue-notification-group {
	bottom: 1rem !important;
	right: 1rem !important;
}

.input-wrapper {
	display: flex;
	align-items: center;
}

.md-layout {
	margin-bottom: 1rem;
}

.md-layout-item, .md-layout-item li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.md-card-content .md-layout-item {
	border-bottom: 1px solid lightgrey;
}

.md-title, .md-table-head-label {
	color: #2285C6 !important;
}

.md-chip.success {
	background-color: #e7f9f6 !important;
	color: #00C9A7 !important;
}

.md-chip.failed {
	background-color: #f9dbdb !important;
	color: #ff475c !important;
}

form {
	width: 100%;
}